body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-check {
  margin-top: 1rem;
  margin-bottom: 1rem;;
}

.paid {
  background-color: lightgreen;
  cursor: pointer;
}

.not-paid {
  background-color: lightpink;
  cursor: pointer;
}

.row-item {
  cursor: pointer;
}

#formGroupExampleInput, #formGroupExampleInput2 {
  padding-top: 1rem;
}

.form-text {
  padding-bottom: 1rem;
  font-style: italic;
  font-size: 0.8rem;
}

.btn-primary {
  margin-right: 1rem;
}